/* MAIN ELEMENTS */
nav {  
  background-size: 100%;
  background-color: black;
  block-size: 10%;
}
body {
  background-size: 100%;
  background-color: #666;
}
button {
  margin: 5px;
  color: ivory;
  background-color:black;
  border-radius: 6px;
}
input {
  height: 100px;
}
img {
  border-radius: 5px 5px 0 0;
}
h1, h2, h3 {
  color: ivory;
}

/* CLASS */
.container {
  top: 0px;
}
.container a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.card {
  background-color: ivory;
}
.navbar-brand {
  color: ivory;
}
.movie-title {
  font-weight: bolder;
  color: ivory;
}
.movie-plot {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:ivory;
}
.fa-i-cursor {
  float: left;
}
/* TMDB ATTRITION */
.tmdb-attribution {
  color: ivory;
}
#tmdb-logo{
  zoom: 50%;
  position: relative;
}

/* ID'S */
#one {
  min-height: 100px;
  color: black;
}
#two, #three {
  display:inline-block;
  min-height:100px;
  color:black;
}
#ivoryTalk button:hover {
    opacity: 0.7;
}
#ivoryTalk {
  padding: 10px;
}
#ivoryLogo {
  margin-left: 35%;
  margin-top: 2%;
}
#ivory-input {
  font-weight: bold;
}
#ivoryAnswer {
  height: 531px;
  overflow: auto;
  border-radius: 5px;
}
#ivoryAnswer img {
  max-height: 100%;
  max-width: 100%;
}
#card3 {
  height: 531px;
  overflow: auto;
  background-color: black;
  border-radius: 5px;
}

#chatty {
  height: 235px;
  overflow: auto;
}
#footer {
  position: relative;
  height: 90px;
  width: 100%;
  padding: 35px;
  border-radius: 7px;
  margin-top: 30px; 
}
#footer p {
  color:ivory;
  float: left;
  position: relative;
  top: 50%;
}
#footer img {
  float: right;
  height: 70px;
  width: 150px;
  position: relative; 
}